<div class="row mx-auto">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card shadow">
            <div class="row p-2">
                <div class="col-md-5">
                    <img src="assets/images/cart.png"  height="300px" class="card-img-top" >    
                </div>
                <div *ngIf='advert' class="col-7 my-auto px-1">
                    <div class="car-body">
                        <h5 class="card-title">{{advert.title}}</h5>
                        <p class="text-muted">Price {{advert.price |  currency : 'R' : 'symbol' : '1.2-2' }}</p>
                        <p class="text-primary">Description: <br>{{advert.description}}</p>
                        <p class="text-info">Date Created: <br>{{advert.dateCreated | date}}</p>
        
                    </div>          
                </div>
            </div>
            
            <div class="card-footer text-secondary">
        
                <h4>Delivery Addreess</h4>
                <p>{{loggedUser.address.street}}
                <br>{{loggedUser.address.complex}}
                <br>{{loggedUser.address.surburb}}
                <br>{{loggedUser.address.town}} 
                <br>{{loggedUser.address.street}}</p>
                <div class="row justify-content-end">
                    <button disabled class="btn btn-warning"><i class="fa fa-truck"></i> Proceed</button>
                </div>
            </div>
        
        </div>        
    </div>
    <div class="col-md-1"></div>

</div>
