<div class="card shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 my-auto">
                <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 300px;"></i>
            </div>
            <div class="col-md-8">
                <p class="font-weight-bold">Username</p>
                <p class="font-weight-bold">Email</p>
                <hr>
                <p class="font-weight-bold">Address</p>
                <p class="text-muted">Central University of Technology</p>
                <p class="text-muted">Eendrag Male Residence</p>
                <p class="text-muted">Willows</p>
                <p class="text-muted">Bloemfontein</p>
                <p class="text-muted">9301</p>
            </div>
        </div>
    </div>
    <div class="card-footer ">
        <button class="btn btn-warning mb-3"><i class="fa fa-plus-square" aria-hidden="true"></i> Sell Item</button>

        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th></th>
                <th>Title</th>
                <th colspan="3">Description</th>
                <th>Date Created</th>
                <th>Price</th>
                <th></th>
                <th></th>
               
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th>
                <td class="mx-auto"><i class="fa fa-cart-plus" aria-hidden="true" style="font-size: 30px;"></i></td>
                <td>Home Theatre</td>
                <td colspan="3">Great sound and very stylish design
                    USB - SD card
                    FM Radio
                    Connect to TV and PC</td>
                <td>02 Jan 2021</td>
                <td>R 1200</td>
                <td><a class="btn btn-dark"><i class="fa fa-pencil-square" aria-hidden="true"></i> Edit</a></td>
                <td><a class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
