<div class="card shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 my-auto">
                <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 300px;"></i>
            </div>
            <div class="col-md-8">
                <p class="font-weight-bold">Username</p>
                <p class="font-weight-bold">Email</p>
                <hr>
                <p class="font-weight-bold">Address</p>
                <p class="text-muted">Central University of Technology</p>
                <p class="text-muted">Eendrag Male Residence</p>
                <p class="text-muted">Willows</p>
                <p class="text-muted">Bloemfontein</p>
                <p class="text-muted">9301</p>
            </div>
        </div>
    </div>
    <div class="card-footer ">

        <a [routerLink]="['/edit']" class="btn btn-warning mb-3"><i class="fa fa-plus-square" aria-hidden="true"></i> Sell Item</a>

       
    </div>
</div>
