<div class="input-group ">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-search mr-2" aria-hidden="true"></i> Search</span>
    </div>
    <input [(ngModel)]='filterAdvertsBySearch' type="text" class="form-control ">
</div>


<div *ngIf='filteredAdverts' class="row ">

    <div *ngFor='let advert of filteredAdverts' class="col-md-4 col-sm-6 mt-3">
        
        <div class="card shadow" style="width: 18rem;">

            <img src="assets/images/cart.png" class="card-img-top" >  
            
            <div class="card-footer">
                <h5 class="card-title">{{advert.title}}</h5>
                <p class="card-text">Price: {{advert.price | currency: 'R' : 'symbol' : '1.2-2'}}</p>
                <button class="btn btn-outline-warning btn-block" [routerLink]="['/checkout', advert.id]"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Buy</button>
            </div>
        
        </div>
    
    </div>
  
</div>
